<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} Default title {% endblock %}</title>
        <script
            src="https://unpkg.com/htmx.org@2.0.0"
            integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
            crossorigin="anonymous"
        ></script>
        <style>
            * {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        {% block content_base %}
        <p>Placeholder contentt</p>
        {% endblock %}
    </body>
</html>
